<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gangbeng.tiandituhb">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="0dd1759970fb5e8b275818abcd971675" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AroundActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.SearchResultActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.MapActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.PlanActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.GPSNaviActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.MoreActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.CollectActivity" />
        <activity android:name=".activity.CalculateMapActivity" />
        <activity android:name=".activity.RoutActivity" />
        <activity android:name=".activity.RoutMapActivity" />
        <activity android:name=".activity.BusDitailActivity" />
        <activity android:name=".activity.ComparisonActivity" />
        <activity android:name=".activity.PaintActivity" />
        <activity android:name=".activity.FeedBackActivity" />
        <activity android:name=".activity.PointBackActivity" />
        <activity android:name=".activity.ShowPhotosActivity" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>